<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengramverp2.feed.FeedMapper">

    <insert id="postFeed" keyProperty="feedId" useGeneratedKeys="true">
        INSERT INTO feed
        (user_id, contents, location)
        VALUE
        (#{userId}, #{contents}, #{location})
    </insert>

    <insert id="postFeedPics">
        INSERT INTO feed_pics
        (feed_id, pic)
        VALUE
        <foreach collection="pics" item="pic" separator=",">
        (#{feedId}, #{pic})
        </foreach>
    </insert>

    <select id="getFeed">
        SELECT A.feed_id AS feedId, A.user_id AS userId,
                B.pic, B.nm, A.contents, A.location, A.created_at AS createdAt
        FROM feed A
        INNER JOIN user B
        ON A.user_id=B.user_id
        ORDER BY A.created_at DESC
        LIMIT #{startIdx}, #{length}
    </select>

    <select id="getFeedPics">
        SELECT pic
        FROM feed_pics
        WHERE feed_id=#{feedId}
    </select>

    <select id="getFeedCommentOnlyThree">
        SELECT A.user_id AS userId, A.feed_id AS feedId,
                A.comment, A.created_at AS createdAt, B.nm, B.pic
        FROM comment A
        INNER JOIN user B
        ON A.user_id=B.user_id
        WHERE feed_id=#{feedId}
        ORDER BY A.created_at DESC
        LIMIT 0, 4
        <!--comment xml도 수정-->
    </select>
</mapper>